a.first{
    position: absolute;
    top: -460px;
}

p.first{
    position: absolute;
    top: 240px;
    left: 860px;
    color: #F5A769;
}

p.first_first{
    position: absolute;
    top: 340px;
    left: 800px;
    color: #F5A769;
}
