/* Food Lover's Homepage */
header h1{
	position: absolute;
	top: 32px;
	left: 172.8px;
	font-family: nobile;
	color: rgb(251, 251, 253);
	font-size: 300%;
	white-space: nowrap;
}

/* Food Lover's Homepage's block's border */
hr.upper_title{
    height: 1px;
	width: 96%;
	background: rgb(251, 251, 253);
	border: none;
	position: absolute;
	top: 4%;
	left: 2%;
}

/* Navigation */
/*
nav{
	font-family: nobile;
	font-size: 160%;
	position: absolute;
	top: 28%;
	left: 3%;
	/* random width *//*
	width: 360px;
}

nav a:link, nav a:visited{
	color: rgb(251, 251, 253);
	text-decoration:none;
}

nav a:hover{
	color: rgb(215, 181, 151);
}

li.Asia{
	list-style-image: url('../images/icon_1_12.png');
}

li.NA{
	list-style-image: url('../images/icon_2_12.png');
}

li.Nav_3{
	list-style-image: url('../images/icon_3_12.png');
}

li.Nav_4{
	list-style-image: url('../images/icon_4_12.png');
}

div.line{
    width: 2px;
    height: 100%;
    background: rgb(251, 251, 253);
    position: absolute;
    top: 28%;
    left: 17%;
}
*/

/* asia */
h2.asia{
    font-family: 'nebulouscontent';
    color: rgb(251, 251, 253);
    position: absolute;
    left: 360px;
    top: 200px;
    font-size: 600%;
    white-space: nowrap;
}

img.asia{
    height: 216px;
    width: 384px;
    position: absolute;
    left: 360px;
    top: 480px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: rgb(251, 251, 253);
    padding-right: 2px;
    padding-bottom: 2px;
}

img.asia_recipes{
    position:absolute;
    height: 220.2px;
    width: 330px;
    border: 2px solid;
	padding: 3px 3px 3px 3px;
	color: rgb(251, 251, 253);
	object-fit: cover;
}

img.asia_1{
    left: 360px;
    top: 450px;
}

img.asia_2{
    left: 735px;
    top: 450px;
}

img.asia_3{
    left: 1110px;
    top: 450px;
}

img.asia_4{
    left: 360px;
    top: 705px;
}

img.asia_5{
    left: 735px;
    top: 705px;
}

img.asia_6{
    left: 1110px;
    top: 705px;
}

div.overlay{
	position: absolute;
	height: 220.2px;
	width: 330px;
	background: #222;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

div.overlay:hover{
	opacity: 0.7;
}

div.overlay_1{
    left: 365px;
    top: 455px;
}

div.overlay_2{
    left: 740px;
    top: 455px;
}

div.overlay_3{
    left: 1115px;
    top: 455px;
}

div.overlay_4{
    left: 365px;
    top: 710px;
}

div.overlay_5{
    left: 740px;
    top: 710px;
}

div.overlay_6{
    left: 1115px;
    top: 710px;
}

p.a_asia{
	font-family: 'nebulouscontent';
	color: rgb(251, 251, 253);
	font-size: 180%;
}

div.text{
    display: flex;
    justify-content: center;
    margin: 73px auto;
}
/*
div.text_1{
    position: absolute;
    left: 91px;
    top: 73px;
}

div.text_2{
    position: absolute;
    left: 91px;
    top: 73px;
}

div.text_3{
    position: absolute;
    left: 91px;
    top: 73px;
}

div.text_4{
    display: flex;
    justify-content: center;
    margin: 73px auto;
}
*/

/* Brush Stroke */

img.line_1{
    position: absolute;
    top: 1000px;
    left: 660px;
}

/* Seasonal Ingredients */

h2.ingredients{
    position: absolute;
    top: 1160px;
    left: 700px;
    font-family: 'nebulouscontent';
	color: rgb(251, 251, 253);
	font-size: 270%;
}

/* Table */

table{
    background: rgb(251, 251, 253);
    font-family: 'nebulouscontent';
    position: absolute;
    top: 1400px;
    left: 430px;
}

td{
    width: 160px;
    height: 80px;
    text-align: center;
    font-size: 120%;
}

/* Form */

.form_control{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 2px solid rgb(192,249,255);
	transition: all 0.4s ease-in-out;
}

.form_control:hover {
  border-color: rgb(62,96,111);
}

/* Name */

div.fst{
    position: absolute;
    top: 1730px;
    left: 680px;
}

/* Email */

div.sec{
	position: absolute;
	top: 1730px;
	left: 360px;
}

/* Telephone */

div.trd{
	position: absolute;
	top: 1806px;
	left: 680px;
}

/* From Where*/

div.fth{
	position: absolute;
	top: 1806px;
	left: 360px;
}

select{
	height: 53px;
	width: 286px;
}

/* Leave your message here */

textarea{
	width: 600px;
	height: 200px;
	position: absolute;
	top: 1954px;
	left: 360px;
}

/* Send Message*/

div.button{
    position: absolute;
    top: 2180px;
    left:360px;
}

input{
	height: 50px;
	width: 280px;
}

input[type="submit"]{
	width: 200px;
	border-radius: 100px;
	transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover {
  color: rgb(62,96,111);
}
